extends layout

block head
  title Tools of the Trade

block slides

  section.slide#title
    .vcenter
      h1 JS Ecosystem
      p.subtitle TotT: 2014

  section.slide#reminders
    h2 Reminders
    ul
      li You should be working on the spec assignment.
      li We're continuing to learn JavaScript.
      li We're exploring NodeJS packaged modules.

  section.slide#tools
      h2 Tools
      p In your prep, you learned about:
      ol
        li NodeJS modules
        li npm
        li package.json

  section.slide#today
    h2 Today
    ul
      li I will give a quick demo.
      li You will ask questions, contribute knowledge.
      li You will practice coding JS and using NPM on <em>tottbox</em>.

  section.slide#demo
    .vcenter
      h2 Demo: Hacky Notebook
      h3 wr, marked

  section.slide#done
    .vcenter
      h2 Your turn.
      h3 Work the JavaScript, Session #2 exercises.