extends layout

block head
  title Tools of the Trade

block slides

  section.slide#title
    .vcenter
      h1 Git Basics
      p.subtitle TotT: 2014

  section.slide#reminders
    h2 Reminders
    ul
      li The next assignment is out.
      li We're now learning about version control with Git.
      li Last warning: I assume you read the prep materials before class.

  section.slide#assignments
    h2 Re: Assignments
    ul
      li You will complete five assignments.
      li The assignments lead to a complete <a href="http://mathwithbaddrawings.com/2013/06/16/ultimate-tic-tac-toe/">Ultimate Tic-Tac-Toe</a> game.
      li The work includes game specification, tests, frontend, backend, and analysis.
      li You will apply tools we learn in each phase of development.

  section.slide#assignment
    h2 Spec Assignment
    ul
      li Due in two weeks
      li Requires a partner
      li A chance to practice Git
      li An introduction to UTTT
      li An glimpse of TDD

  section.slide#git
      h2 Git
      ul
        li Free and open source
        li Tracks files and their history
        li Maintains multiple histories
        li Talks across repositories

  section.slide#tools
      h2 Tools
      p In your prep, you learned about:
      ol
        li Version control
        li Distributed version control
        li git

  section.slide#today
    h2 Today
    ul
      li I will continue the Git example I started in the video.
      li You will ask questions, contribute knowledge.
      li You will practice using Git on <em>tottbox</em>.

  section.slide#demo
    .vcenter
      h2 Demo: Personal, Multi-Branch Workflow
      h3 checkout, branch, merge

  section.slide#done
    .vcenter
      h2 Your turn.
      h3 Work the Distributed Version Control, Session #1 exercises.