extends layout

block head
  title Tools of the Trade

block slides

  section.slide#title
    .vcenter
      h1 Git Collaboration
      p.subtitle TotT: 2014

  section.slide#reminders
    h2 Reminders
    ul
      li You should be working on the spec assignment.
      li We're learning about version control with Git.

  section.slide#tools
      h2 Tools
      p In your prep, you learned about:
      ol
        li Git workflows
        li Git hosting

  section.slide#today
    h2 Today
    ul
      li We'll discuss how the course is going.
      li You will practice using Git on <em>tottbox</em>.

  section.slide#done
    .vcenter
      h2 Your turn.
      h3 Work the Distributed Version Control, Session #2 exercises.