.deck-container {
    font-family: "Helvetica Neue", sans-serif;
    font-size:2.75em;
    background-color: #fff;

    .slide {
        padding: 0 96px !important;
        background-color: #fff;

        .CodeMirror, .deck-codemirror-result {
            font-size: 0.65em;
        }

        h1 {
            font-size: 2.5em;
        }

        h2 {
            color: #003a6b;
            border-bottom-color:#ccc;
            font-size: 2em;
        }

        ul {
            margin-left: 1em;
        }

        blockquote {
            padding: 1em !important;
            font-size: 1em !important;
        }

        .smaller {
            font-size: 0.6em;
        }

        .footnote {
            position: absolute;
            bottom: 10px;
            left: 10px;
            font-size: 0.4em;
            text-align: left;
        }

        .vcenter {
            h2 {
                color: #444;
                border-bottom-color: transparent;
                font-size: 1.85em;
                margin-bottom: 0.25em;
                padding: 0;
            }

            h3 {
                color: #444;
                font-size: 1em;
                padding: 0;
                margin-bottom: 0.25em;
            }

            h4 {
                color: #888;
                font-size: 0.75em;
                padding: 0;
                margin-top: 1em;
            }

            p {
                margin-bottom: 0.25em;
            }
        }

        pre {
            border-color:#ccc;
        }

        code {
            color:#888;
        }

        blockquote {
            font-size:2em;
            font-style:italic;
            padding:1em 2em;
            color:#000;
            border-left:5px solid #ccc;

            p {
                margin:0;
            }

            cite {
                font-size:.5em;
                font-style:normal;
                font-weight:bold;
                color:#888;
            }
        }

        ::-moz-selection{ background:#003a6b; color:#fff; }
        ::selection { background:#003a6b; color:#fff; }

        a {
            &, &:hover, &:focus, &:active, &:visited {
                color:#003a6b;
                text-decoration:none;
            }

            &:hover, &:focus {
                text-decoration:underline;
            }
        }
    }

    > .slide {
        .deck-before, .deck-previous {
            opacity:0.4;

            &:not(.deck-child-current) {
                .deck-before, .deck-previous {
                    opacity:1;
                }
            }
        }

        .deck-child-current {
            opacity:1;
        }
    }

    .deck-prev-link, .deck-next-link {
        background:#ccc;
        font-family:serif; // sans-serif arrows x-browser fail

        &, &:hover, &:focus, &:active, &:visited {
            color:#fff;
        }

        &:hover, &:focus {
            background:#003a6b;
            text-decoration:none;
        }
    }

    .deck-status {
        font-size:0.6666em;
    }

    &.deck-menu {
        .slide {
            background:#eee;
            border: 1px solid #ccc;
        }

        .deck-current, .no-touch & .slide:hover {
            background:#fff;
            // background:#cdf;
        }
    }
}
