.deck-container {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 2.75em;
  background: #fff; }
  .deck-container .slide {
    padding: 0 96px !important;
    background: #fff; }
    .deck-container .slide h1 {
      font-size: 2.5em; }
    .deck-container .slide h2 {
      color: #003a6b;
      border-bottom-color: #ccc;
      font-size: 2em; }
    .deck-container .slide blockquote {
      padding: 1em !important;
      font-size: 1em !important; }
    .deck-container .slide .smaller {
      font-size: 0.75em; }
    .deck-container .slide .vcenter h2 {
      color: #444;
      border-bottom-color: transparent;
      font-size: 1.85em;
      margin-bottom: 0.25em;
      padding: 0; }
    .deck-container .slide .vcenter h3 {
      color: #444;
      font-size: 1em;
      padding: 0;
      margin-bottom: 0.25em; }
    .deck-container .slide .vcenter p {
      margin-bottom: 0.25em; }
    .deck-container .slide pre {
      border-color: #ccc; }
    .deck-container .slide code {
      color: #888; }
    .deck-container .slide blockquote {
      font-size: 2em;
      font-style: italic;
      padding: 1em 2em;
      color: #000;
      border-left: 5px solid #ccc; }
      .deck-container .slide blockquote p {
        margin: 0; }
      .deck-container .slide blockquote cite {
        font-size: .5em;
        font-style: normal;
        font-weight: bold;
        color: #888; }
    .deck-container .slide ::-moz-selection {
      background: #003a6b;
      color: #fff; }
    .deck-container .slide ::selection {
      background: #003a6b;
      color: #fff; }
    .deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
      color: #003a6b;
      text-decoration: none; }
    .deck-container .slide a:hover, .deck-container .slide a:focus {
      text-decoration: underline; }
  .deck-container > .slide .deck-before, .deck-container > .slide .deck-previous {
    opacity: 0.4; }
    .deck-container > .slide .deck-before:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-before:not(.deck-child-current) .deck-previous, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-previous {
      opacity: 1; }
  .deck-container > .slide .deck-child-current {
    opacity: 1; }
  .deck-container .deck-prev-link, .deck-container .deck-next-link {
    background: #ccc;
    font-family: serif; }
    .deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
      color: #fff; }
    .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
      background: #003a6b;
      text-decoration: none; }
  .deck-container .deck-status {
    font-size: 0.6666em; }
  .deck-container.deck-menu .slide {
    background: #eee;
    border: 1px solid #ccc; }
  .deck-container.deck-menu .deck-current, .no-touch .deck-container.deck-menu .slide:hover {
    background: #fff; }
