extends layout

block head
  title Tools of the Trade

block slides

  section.slide#title
    .vcenter
      h1 Prep: Unix Philosophy
      p.subtitle TotT: 2014

  section.slide#mcilroy
    h2 McIlory
    blockquote "This is the Unix philosophy: Write programs that do one thing and do it well. Write programs to work together. Write programs to handle text streams, because that is a universal interface." <br /> - <a href="http://en.wikipedia.org/wiki/Unix_philosophy#McIlroy:_A_Quarter_Century_of_Unix">Douglas McIlroy</a>

  section.slide#gancarz
    h2 Gancarz
    blockquote
      ol
        li Small is beautiful.
        li Make each program do one thing well.
        ...
        li Store data in flat text files.
        ...
      p - <a href="http://en.wikipedia.org/wiki/Unix_philosophy#Mike_Gancarz:_The_UNIX_Philosophy">Mike Gancarz</a>

  section.slide#gabriel
    h2 Gabriel
    blockquote "<em>worse is better</em> ... simplicity of both the interface and the implementation are more important than any other attributes of the system—including correctness, consistency, and completeness." <br /> - <a href="http://en.wikipedia.org/wiki/Unix_philosophy#Worse_is_better">Wikipedia</a>

  section.slide#common
    .vcenter
      h2 Many perspectives, one philosophy.

  section.slide#kiss
    .vcenter
      h2 KISS

  section.slide#brooks
    h2 Brooks
    ul
      li <em>Accidental complexity</em> stems from problems we create on our own.
      li <em>Essential complexity</em> is inherent in the problem to be solved.
    p - <a href="http://www.cs.unc.edu/techreports/86-020.pdf">Fred Brooks</a>

  section.slide#demo-one
    .vcenter
      h2 Demo: Small superlatives
      h3 echo, cat, tr

    // echo foobar
    // cat /vagrant/Vagrantfile
    // tr "A-Z" "a-z"
    // tr "aeios" "43105"

  section.slide#demo-text
    .vcenter
      h2 Demo: Text everywhere
      h3 /etc/passwd, /etc/hosts, /etc/rc2.d/*

  section.slide#streams
    h2 Standard Streams
    img(src="http://upload.wikimedia.org/wikipedia/commons/7/70/Stdstreams-notitle.svg", width="100%")

  section.slide#redirection
    h2 Pipes and Redirects
    img(src="http://upload.wikimedia.org/wikipedia/commons/f/f6/Pipeline.svg", width="100%")

  section.slide#demo-combo
    .vcenter
      h2 Demo: Pipes and redirects
      h3 &gt;, &lt;, |, sort, uniq, head

    // sudo apt-get install wamerican
    // cat /usr/share/dict/words | wc
    // cat /usr/share/dict/words | sort -r | less
    // cat /usr/share/dict/words | grep ^d
    // cat /usr/share/dict/words | grep ^a | head -n 5 | tr "aeios" "43105"
    // cat /usr/share/dict/words | tee wc | tr "a" "e" | wc > a2e
    // cat /usr/share/dict/words | tee wc | tr "i" "e" | wc > i2e
    // cat a2e i2e

  section.slide#meet
    h2 When We Meet Again
    ul
      li I will summarize this material.
      li I will demonstrate more uses of the CLI.
      li You will practice working at the CLI again.
      li We will discuss what you learned.