extends layout

block head
  title Tools of the Trade

block slides

  section.slide#title
    .vcenter
      h1 CLI
      p.subtitle COMP XXX: 2014

  section.slide#reminders
    h2 Reminders
    ul
      li The setup assignment is due today.
      li I assume you read the prep materials before class.

  section.slide#definition
    h2 Command Line Interfaces
    blockquote "a means of interacting with a computer program where the user (or client) issues commands to the program in the form of successive lines of text." - <a href="http://en.wikipedia.org/wiki/Command-line_interface">Wikipedia</a>

  section.slide#use-cases
    h2 Use Cases
    ul
      li Scripting
      li Combinations
      li Remote work
      li Resource constraints
      li Lack of alternative

  section.slide#tools
    h2 Tools
    p In your prep, you heard about:
    ol
      li bash
      li ssh
      li screen
      li vi

  section.slide#today
    h2 Today
    ul
      li I will demonstrate working at the CLI.
      li You will ask questions, contribute knowledge.
      li You will practice at the *tottbox* CLI.

  section.slide#remote-scripts
    .vcenter
      h2 Example: Writing scripts remotely
      p ssh, screen, vi, bash

  section.slide#curl
    .vcenter
      h2 Example: Command line downloads
      p ssh, curl

  section.slide#done
    .vcenter
      h2 Your turn.
      h3 Work the CLI, Session #1 exercises.