extends layout

block head
  title Tools of the Trade

block slides

  section.slide#title
    .vcenter
      h1 Prep: Unix Philosophy
      p.subtitle TotT: 2014

  section.slide#reminders
    h2 Reminders
    ul
      li There's no outstanding assignment at the moment.
      li We're still learning about the command line.
      li I assume you read the prep materials before class.

  section.slide#philosophy
    h2 Unix Philosophy
    ul
      li KISS principle applied to software
      li Small, single-purpose, cooperative tools
      li Embrace the essence, avoid the accident

  section.slide#tools
    h2 Tools
    p In your prep, you learned about:
    ol
      li Simple utilities
      li Text files
      li Pipes
      li Redirects

  section.slide#today
    h2 Today
    ul
      li I will show another CLI example.
      li You will ask questions, contribute knowledge.
      li You will practice at the <em>tottbox</em> CLI.

  section.slide#example
    .vcenter
      h2 Demo: Acting on File Contents
      p Pipes, sed, tr, xargs
      //- cat /usr/share/dict/words | sed -n 52312,52320p | tr '\n' '\0' | xargs -I '{}' whatever

  section.slide#done
    .vcenter
      h2 Your turn.
      h3 Work the CLI, Session #2 exercises.