extends layout

block head
  title Tools of the Trade

block slides

  section.slide#title
    .vcenter
      h1 Tools of the Trade
      p.subtitle COMP XXX: YYYY-MM-DD

  section.slide#introduction
    .vcenter
      h2 Hi. I'm Pete.

  section.slide#job
    .vcenter
      h2 I work in IBM's Emerging Technology group.

  section.slide#what-we-do
    .vcenter
      h2 We scout and incubate ideas that become IBM solutions.

  section.slide#what-we-do-depicted
    .vcenter
      img(src="images/history.png", width="1024")
      small
        :markdown
          Partial timeline from [IBM jStart](http://www-01.ibm.com/software/ebusiness/jstart/)

  section.slide#my-path
    .vcenter.smaller
      h2 Linux Accessibility (2 years)
      h3 Python, AT-SPI, atk, gtk, CORBA, dbus, Firefox, ...
      p &darr;
      h2 QEDWiki / MashupHub (2 years)
      h3 Atom/RSS, OpenSearch, HTML, CSS, JavaScript, PHP, Dojo, Java, ...
      p &darr;
      h2 Blue Spruce / OpenCoweb (2 years)
      h3 OT, H.264, NAT punching, ...
      p &darr;
      h2 Watson (2 years)
      h3 NLP, ML, UIMA, Prolog, Hadoop, GPFS, SPSS, IPython, ...
      p &darr;
      h2 BlueMix
      h3 Cloud Foundry, Open Stack, Ruby, NodeJS, ...

  section.slide#abnormal
    .vcenter
      h2 Emerging tech? Surely we are an edge case, yes?

  section.slide#normal
    .vcenter
      h2 IMHO, no.

  section.slide#agile
    .vcenter
      h2 I see more and more projects requiring agile, polyglot, "jack of all trades" developers.
      h3 Not Java developers. Not UI developers. Not database developers.

  section.slide#agile
    .vcenter
      h2 But really-good-at-Python-and-JavaScript, contributed-to-Django-in-open-source, used-Weka-to-build-a-music-recommendation-site, toyed-with-Scala-over-the-weekend, will-fearlessly-learn-new-tools developers.

  section.slide#evidence
    h2 Evidence
    :markdown
      * [Scaling Instagram](https://speakerdeck.com/mikeyk/scaling-instagram)
      * [The Software Behind Facebook](http://royal.pingdom.com/2010/06/18/the-software-behind-facebook/)
      * [This is Watson](http://ieeexplore.ieee.org/xpl/tocresult.jsp?isnumber=6177717)
      * [Systems of Engagement](http://www.aiim.org/~/media/Files/AIIM%20White%20Papers/Systems-of-Engagement-Future-of-Enterprise-IT.ashx)
      * [The New Kingmakers](http://thenewkingmakers.com/)

  section.slide#how
    .vcenter
      h2 How do we become such well-rounded, agile, confident developers?

  section.slide#how-others
    .vcenter
      h2 How do athletes, musicians, chefs, artists, machinists, etc. become better at their professions?

  section.slide#practice
    .vcenter
      h2 Pratice. Practice. Practice.

  section.slide#in-our-case
    .vcenter
      h2 In our case, practice means discovering, learning, applying, and evaluating the tools of our trade.

  section.slide#course
    .vcenter
      h2 I intend for this course to give you such practice.
      h3 Think of it as a scheduled coding workout.

  section.slide#result
    .vcenter
      h2 I believe you will become more nimble, confident developers.

  section.slide#theory
    .vcenter
      h2 That's the theory anyway.

  section.slide#course-flow
    h2 This Course in a Nutshell
    ol
      li Each week we'll dive into a new topic and associated tools.
      li Before class, you'll view assigned prep materials.
      li To start class, I'll briefly review what you learned.
      li You will spend the majority of class time collaboratively applying the tools.
      li Every few weeks, you will integrate what you learn in a project.

  section.slide#website
    h2 The Details
    ul
      li The course web site lists all of the course policies, topics, tools, readings, exercises, and assignments.
      li The Google+ class community will be our discussion forum and announcement source.
      li You'll have a chance to read and ask questions about both today.

  section.slide#this-week
    h2 Jumpstart
    ul
      li Bookmark the course website: <a href="http://parente.github.io/tott">http://parente.github.io/tott</a>.
      li Visit the week #1 page.
      li Note that assignment #0 is now assigned and due next week.
      li Start working through the exercises listed under week #1, session #1.
      li Review the prep materials for session #2 before we meet again.

  section.slide#fin
    .vcenter
      h2 FIN
      h3 FWIW, I hope this is the longest in-class lecture I'll give all semester.