extends layout

block head
  title Tools of the Trade

block slides

  section.slide#title
    .vcenter
      h1 Virtual Machines
      p.subtitle COMP XXX: YYYY-MM-DD

  section.slide#reminders
    h2 Reminders
    li I assume you read the prep materials before class.
    li The setup assignment is due next time we meet.
    li You're going to work on it today.

  section.slide#vm
    h2 Virtual Machines

  section.slide#use-cases
    h2 Use Cases

  section.slide#team-dev
    h2 Team Dev

  section.slide#vagrant
    h2 Vagrant

  section.slide#cli
    h2 Vagrant CLI

  section.slide#config
    h2 Vagrantfile