extends layout

block head
  title Tools of the Trade

block slides

  section.slide#title
    .vcenter
      h1 Prep: Virtual Machines
      p.subtitle TotT 2014

  section.slide#vm
    h2 System VM
    blockquote "a complete system platform which supports the execution of a complete operating system (OS)" - <a href="http://en.wikipedia.org/wiki/Virtual_machine">Wikipedia</a>

  section.slide#use-cases
    h2 Use Cases
    ul
      li Multiple OSes
      li Architecture emulation
      li On-demand provisioning
      li Workload migration
      li Disaster recovery
      li <strong>Environment consistency</strong>

  section.slide#team-dev
    h2 Consistency
    ul
      li <strong>Working with a team</strong>
      li Developing across machines
      li Deploying to production
      li Shipping to a customer

  section.slide#virtualbox
    h2 VirtualBox
    ul
      li Type 2 Hypervisor <br />
        small English: It runs VMs on your laptop.
      li Manages VM <em>images</em>
      li Runs VM <em>instances</em>

  section.slide#vagrant
    h2 Vagrant
    p Developer-centric VM management
    ol
      li Get / create a <em>box</em> (i.e., VM image).
      li Write a config file.
      li Script your installs.
      li Run it.
      li Share it with your team.

  section.slide#cli
    h2 Vagrant CLI
    p Three commands to master:
    pre.
      $ vagrant up
      $ vagrant ssh
      $ vagrant destroy

  section.slide#demo-cli
    .vcenter
      h2 Demo: Vagrant Basics

  section.slide#config
    h2 Vagrantfile
    ol
      li States the box to use.
      li States how to configure the box (e.g., networking).
      li States how to provision software on the box.

  section.slide#demo-config
    h2 Example: Simple Vagrantfile
    textarea.code(name="code", mode="ruby", style="display: none;").
      Vagrant.configure("2") do |config|
        # fetches a box (i.e., VM image)
        config.vm.box = "tottbox_2013_07_31"
        config.vm.box_url = "https://dl.dropboxusercontent.com/u/264241/\#{config.vm.box}.box"

        # configures it
        config.vm.network :private_network, ip: "192.168.33.10"
        config.vm.network :forwarded_port, guest: 8080, host: 8080

        # runs scripts on it
        config.vm.provision :shell, :inline => "sudo apt-get -y update"
      end

  section.slide#tottbox
    h2 tottbox
    ul
      li Our Vagrant box
      li Our shared dev / grading environment
      li Pre-configured with many tools

  section.slide#meet
    h2 When We Meet Again
    ul
      li I will summarize this material.
      li I will demonstrate a few more uses of Vagrant.
      li You will practice using Vagrant.
      li We will discuss what you learned.