extends layout

block head
  title Tools of the Trade

block slides

  section.slide#title
    .vcenter
      h1 Virtual Machines
      p.subtitle TotT 2014

  section.slide#reminders
    h2 Reminders
    ul
      li I assume you read the prep materials before class.
      li The setup assignment is due the next time we meet.
      li You're going to work on it today.

  section.slide#vm
    h2 System VM
    blockquote "a complete system platform which supports the execution of a complete operating system (OS)" - <a href="http://en.wikipedia.org/wiki/Virtual_machine">Wikipedia</a>

  section.slide#use-cases
    h2 Use Cases
    ul
      li Multiple OSes
      li Archiecture emulation
      li On-demand provisioning
      li Workload migration
      li Disaster recovery
      li <strong>Environment consistency</strong>

  section.slide#tools
    h2 Tools
    p In your prep, you heard about:
    ul
      li VirtualBox
      li Vagrant

  section.slide#today
    h2 Today
    ul
      li I will demonstrate more Vagrant commands.
      li You will ask questions, contribute knowledge.
      li You will finish setting up <em>tottbox</em> so you can practice.

  section.slide#reset
    .vcenter
      h2 Demo: Resetting to Zero
      p vagrant destroy

  section.slide#provision
    .vcenter
      h2 Demo: Avoiding Repetition
      p vagrant provision, vagrant reload, Vagrantfile

  section.slide#done
    .vcenter
      h2 Your turn.
      h3 Work the Intro, Session #2 exercises.