extends layout

block head
  title Tools of the Trade

block slides

  section.slide#title
    .vcenter
      h1 Virtual Machines
      p.subtitle COMP XXX: YYYY-MM-DD

  section.slide#reminders
    h2 Reminders
    li I assume you read the prep materials before class
    li Assignment #0 is due next time
    li You're going to work on it today
