extends layout

block head
  title Tools of the Trade

block slides

  section.slide#title
    .vcenter
      h1 Tools of the Trade
      p.subtitle COMP XXX: YYYY-MM-DD

  section.slide#introduction
    .vcenter
      h2 Hi. I'm Pete.

  section.slide#job
    .vcenter
      h2 I work in IBM's Emerging Technology group.

  section.slide#what-we-do
    .vcenter
      h2 We incubate ideas that become IBM solutions.

  section.slide#what-we-do-depicted
    .vcenter
      img(src="images/history.png", width="1024")
      small
        :markdown
          Partial timeline from [IBM jStart](http://www-01.ibm.com/software/ebusiness/jstart/)

  section.slide#what-it-takes
    .vcenter
      h2 Living on the bleeding edge requires fearless agility.
      h3 We must quickly learn about new domains, tech, and processes.

  section.slide#my-path
    .vcenter.smaller
      h2 Linux Accessibility
      h3 Python, AT-SPI, atk, gtk, CORBA, dbus, Firefox, ...
      p &darr;
      h2 QEDWiki / MashupHub
      h3 Atom/RSS, OpenSearch, HTML, CSS, JavaScript, PHP, Dojo, Java, ...
      p &darr;
      h2 Blue Spruce / OpenCoweb
      h3 OT, A/V streaming, NAT punching, ...
      p &darr;
      h2 Watson
      h3 NLP, ML, UIMA, Prolog, Hadoop, GPFS, SPSS, IPython, ...
      p &darr;
      h2 BlueMix
      h3 ...

  section.slide#imho
    .vcenter
      h2 IMHO, we're not unique anymore.

  section.slide#new-norm
    .vcenter
      h2 Polyglot, nimble, "jack of all trades" developers are becoming the norm.
      h3
        :markdown
          See [Systems of Engagement](http://www.aiim.org/~/media/Files/AIIM%20White%20Papers/Systems-of-Engagement-Future-of-Enterprise-IT.ashx), [The New Kingmakers](http://thenewkingmakers.com/), and [Scaling Instagram](https://speakerdeck.com/mikeyk/scaling-instagram)

  section.slide#master
    .vcenter
      h2 We should become masters in a few domains.
      h3 e.g., Sling Python code like there's no tomorrow.

  section.slide#know
    .vcenter
      h2 But we also need to grow our knowledge of many more.
      h3 Know libraries that can help analyze log data from a large system.
      h3 Know where to locate components in a Ruby on Rails app.
      h3 Know how to apply a11y and i18n guidelines to a user interface.
      h3 ...

  section.slide#github
    .vcenter
      h2 We cannot possibly learn everything up-front.
      img(src="/images/github.png", width="1024")

  section.slide#we-can
    .vcenter
      h2 What we can do is become and remain nimble devs.

  section.slide#how
    .vcenter
      h2 We will do so through practice.
