extends layout

block head
  title Tools of the Trade

block slides

  section.slide#title
    .vcenter
      h1 Prep: JavaScript
      p.subtitle TotT: 2014

  section.slide#js
    h2 JavaScript
    p TODO: One liner for wikipedia

  section.slide#use-cases
    h2 Use Cases
    ul
      li Embedded scripting
      li Frontend web development
      li Backend web development

  section.slide#attributes
    h2 Major Attributes
    ul
      li C-derived syntax
      li Dynamic typing
      li First-class objects
      li Garbage collection
      li Object based
      li Prototypes

  section.slide#syntax
    h2 Syntax

  section.slide#types
    h2 Types
    p Arrays, Objects, Regexps, Number, String, null

  section.slide#expressions
    h2 Expressions

  section.slide#statements
    h2 Statements

  section.slide#functions
    h2 Functions

  section.slide#prototypes
    h2 Prototypes

  section.slide#idioms
    h2 Common Idioms
    ul
      li Closures
      li Callbacks
      li Inheritence

  section.slide#gotcha
    h2 Gotchas
    ul
      li Function scope
      li Automatic semicolons
      li No true methods
      li No import statement
      li No multiline strings
      li Weird operators

  section.slide#meet
    h2 When We Meet Again
    ul
      li I will summarize this material.
      li I will demonstrate some more examples.
      li You will practice coding in Javascript.
      li We will discuss what you learned.