extends layout

block head
  title Tools of the Trade

block slides

  section.slide#title
    .vcenter
      h1 JavaScript
      p.subtitle TotT: 2014

  section.slide#reminders
    h2 Reminders
    ul
      li You should be working on the spec assignment.
      li We're diving into JavaScript in NodeJS
      li You're already writing it in the spec assignment.

  section.slide#git
      h2 JavaScript
      ul
        li C-derived syntax
        li Runtime interpretation
        li Dynamic typing
        li First-class functions
        li Prototypical inheritence
        li Garbage collection
        li Rich literal types

  section.slide#tools
      h2 Tools
      p In your prep, you learned about:
      ol
        li Language constructs
        li NodeJS runtime

  section.slide#today
    h2 Today
    ul
      li I will give two more demos.
      li You will ask questions, contribute knowledge.
      li You will practice coding JS on <em>tottbox</em>.

  section.slide#demo
    .vcenter
      h2 Demo: Gotchas and Accidents
      h3 Scope, methods, import, operators, semicolons

  section.slide#demo
    .vcenter
      h2 Demo: Web Server in 5

  section.slide#done
    .vcenter
      h2 Your turn.
      h3 Work the JavaScript, Session #1 exercises.