extends layout

block head
  title Tools of the Trade

block slides

  section.slide#title
    .vcenter
      h1 Prep: JS Ecosystem
      p.subtitle TotT: 2014

  section.slide#server-side
    h2 Server Side (NodeJS)
    ul
      li Has module definitions, imports
      li Has a slim standard library
      li Has encouraged development and sharing of small tools

  section.slide#node-modules
    h2 Example: <tt>exports</tt>, <tt>require</tt>
    textarea.code(name="code", runnable="true", mode="javascript", style="display: none;").
      // in foo.js
      module.exports.double = function(x) {
        return x * 2;
      };

      var triple = function(x) {
        return x * 3;
      };

    textarea.code(name="code", runnable="true", mode="javascript", style="display: none;").
      // in bar.js
      var foo = require('./foo');
      var z = foo.double(5);
      console.log(z);
      var q = foo.triple(5) // ERROR!

  section.slide#npm
    h2 Node Packaged Modules
    ul
      li A method of distributing NodeJS modules
      li A hosted index of published modules
      li A command line tool for managing modules

  section.slide#npm
    h2 <tt>npm</tt>
    p Commands to master:
    pre.
      $ npm search
      $ npm install [-g]
      $ npm init

  section.slide#demo-npm
    .vcenter
      h2 Demo: NPM Basics
      h3 search, install, require
      //- cli-table

  section.slide#package-json
    h2 <tt>package.json</tt>
    ul
      li Package metadata
      li States name, author, version, git repo, ...
      li Critically, lists dependencies

  section.slide#demo-package-json
    .vcenter
      h2 Demo: Declaring Packages
      h3 init, dependencies, devDependencies

  section.slide#browser
    h2 Client Side (Browsers)
    ul
      li Originally: Hide cross-browser scripting issues
      li Now: Support rich Web app development
      li Some NodeJS modules are browser compatible

  section.slide#bower
    h2 Bower
    ul
      li A command line tool for managing front-end packages
      li Uses Git to pull package versions
      li That's it: a small, single-purpose tool

  section.slide#problems
    h2 Client Side Problems
    ul
      li &lt;script&gt;
      li No import
      li Cross-browser JS discrepancies

  section.slide#tbc
    .vcenter
      h2 To Be Continued
      h3 Sessions on front-end JS coming soon

  section.slide#meet
    h2 When We Meet Again
    ul
      li I will summarize this material.
      li I will demonstrate some more examples.
      li You will practice using NodeJS modules.
      li We will discuss what you learned.


