extends layout
include util

block head
  title Express - TotT

block slides

  section(data-narration="/express/0")
    h1 Express
    h2 TotT 2014

  section(data-narration="/express/1")
    h2 Express
    blockquote "Express is a minimal and flexible node.js web application framework, providing a robust set of features for building single and multi-page, and hybrid web applications." <br />- <a href="http://expressjs.com/">expressjs.com</a>

  section(data-narration="/express/2")
    h2 Use Cases
    ul
      li Single page web apps
      li Multi-page web apps
      li RESTful web APIs

  section(data-narration="/express/3")
    h2 Express Concepts
    ul
      li Application
      li Server
      li Routes
      li Request
      li Response
      li Middleware

  section(data-narration="/express/4")
    h2 Demo: Application, Server
    p Host, port, event loop

  section
    h4 Demo: Application, Server
    +screencast("/express/app")

  section(data-narration="/express/6")
    h2 Demo: Routes, Request, Response
    p Verbs, paths, parameters

  section
    h4 Demo: Routes, Request, Response
    +screencast("/express/routes")

  section(data-narration="/express/8")
    h2 Demo: Middleware
    p Logging, error handling

  section
    h4 Demo: Middleware
    +screencast("/express/middleware")

  section(data-narration="/express/10")
    h2 Review
    ul
      li Application
      li Server
      li Routes
      li Requests
      li Responses
      li Middleware