extends layout
include util

block head
  title Social Git - TotT

block slides

  section(data-narration="/github/0")
    h1 Social Git
    h2 TotT: 2014

  section(data-narration="/github/1")
    h2 Personal Git
    ul
      li Create a repository.
      li Stage and commit changes.
      li Branch and merge histories.

  section(data-narration="/github/2")
    h2 Collaborative Git
    ul
      li Clone a repository.
      li Pull changes downstream.
      li Push changes upstream.

  section(data-narration="/github/3")
    h2 Collaborative Workflows
    ul
      li <a href="http://git-scm.com/book/en/Distributed-Git-Distributed-Workflows#Centralized-Workflow">Centralized</a>
      li <a href="http://git-scm.com/book/en/Distributed-Git-Distributed-Workflows#Integration-Manager-Workflow">Integration Manager</a>
      li <a href="http://git-scm.com/book/en/Distributed-Git-Distributed-Workflows#Dictator-and-Lieutenants-Workflow">Dictator and Lieutenants</a>

  section(data-narration="/github/4")
    h2 DIY Git Hosting
    ul
      li Git understands dumb and smart protocols.
      li You can host read-only Git repositories on simple web servers.
      li You can enable read/write shared repositories over SSH.
      li DIY is best when your data is sensitive.

  section(data-narration="/github/5")
    h2 Git Cloud Hosting
    ul
      li It's just Git.
      li It will save you time.
      li Many providers add bells and whistles.

  section(data-narration="/github/6")
    h2 GitHub
    ul
      li Social coding mantra
      li Growing by leaps and bounds
      li Issue trackers, wikis
      li Forks and pull requests
      li Free for public projects

  section(data-narration="/github/7")
    h2 Demo: Central Repository Workflow
    p clone, pull, merge, push

  section
    h4 Demo: Central Repository Workflow
    +screencast("/github/central-repo")

  section(data-narration="/github/9")
    h2 Demo: Pull-Request Workflow
    p fork<sup>*</sup>, clone, branch, push, notify<sup>*</sup>
    p
      small <sup>*</sup> Not Git commands

  section
    h4 Demo: Pull-Request Workflow
    +screencast("/github/pull-request")

  section(data-narration="/github/11")
    h2 Review
    ul
      li Collaborative Workflows
      li DIY Git Hosting
      li Git Cloud Hosting
      li Central Repository Workflow
      li Pull-Request Workflow
