extends layout

block head
  title Intro - TotT

block slides

  section
    h1 Tools of the Trade
    h2 TotT 2014

  section
    h2 Hi, I'm Pete.

  section
    h2 I work in IBM's Emerging Technology group.

  section
    h2 We scout and incubate ideas that become IBM solutions.

  section
    a(href="http://www-01.ibm.com/software/ebusiness/jstart/")
      img(src="http://www-01.ibm.com/software/ebusiness/jstart/graphics/jStartHistory.png", width="1024")

  section
    h2 We switch domains and problems frequently.

  section
    h4 Linux Accessibility (2 years)
    small Python, AT-SPI, atk, gtk, CORBA, dbus, Firefox, ...
    p &darr;
    h4 QEDWiki / MashupHub (2 years)
    small Atom/RSS, OpenSearch, HTML, CSS, JavaScript, PHP, Dojo, Java, ...
    p &darr;
    h4 Blue Spruce / OpenCoweb (2 years)
    small Operational Transformation, H.264, XMPP, STUN, ...
    p &darr;
    h4 IBM Watson (2 years)
    small NLP, ML, UIMA, Prolog, Hadoop, SPSS, IPython, ...
    p &darr;
    h4 Knowledge Anyhow
    small Cloud Foundry, Open Stack, Docker, Ruby, NodeJS, ...

  section
    h2 We must learn and adapt quickly.

  section
    h2 We are <strong>not</strong> an exception to any rule.

  section
    h3 I see more and more projects and developers working this way.

  section
    h2 Some Evidence
    ul
      li
        a(href="https://speakerdeck.com/mikeyk/scaling-instagram") Scaling Instagram
      li
        a(href="http://royal.pingdom.com/2010/06/18/the-software-behind-facebook/") The Software Behind Facebook
      li
        a(href="http://ieeexplore.ieee.org/xpl/tocresult.jsp?isnumber=6177717") This is Watson
      li
        a(href="http://www.aiim.org/~/media/Files/AIIM%20White%20Papers/Systems-of-Engagement-Future-of-Enterprise-IT.ashx") Systems of Engagement
      li
        a(href="http://thenewkingmakers.com/") The New Kingmakers

  section
    h3 I believe we become well-rounded, agile, confident developers through <strong>exposure</strong> and <strong>practice</strong>.

  section
    h2 That's my hypothesis anyway.

  section
    h3 I hope this meet-up gives us the opportunity to test it.

  section.slide#course-flow
    h2 The Plan
    ol
      li Pick a tool / topic of interest each week.
      li Do a bit of prep before we meet.
      li Meet to hack on practice problems and projects.
      li Help one another and share our experience.

  section
    h2 Let's Start
    ul
      li Bookmark the <a href="http://tott-meetup.rtfd.org">TotT website</a>
      li Join the <a href="https://plus.google.com/communities/110370068185265330545">TotT Google+ Community</a>
      li Follow the Setting Up guide.

  section
      h2 FIN
      h4 And FYI, if the plan holds, this is only slideshow I plan to give.