extends layout

block head
  title Intro - TotT

block slides

  section
    h1 Tools of the Trade

  section
    h2 Hi, I'm Pete.

  section
    h2 I work in IBM's Emerging Technology group.

  section
    h2 We scout and incubate ideas that become IBM solutions.

  section
    a(href="http://www-01.ibm.com/software/ebusiness/jstart/")
      img(src="http://www-01.ibm.com/software/ebusiness/jstart/graphics/jStartHistory.png", width="1024")

  section
    h2 We must keep up with technology and customer problems.

  section
    h4 Linux Accessibility (2 years)
    small Python, AT-SPI, atk, gtk, CORBA, dbus, Firefox, ...
    p &darr;
    h4 QEDWiki / MashupHub (2 years)
    small Atom/RSS, OpenSearch, HTML, CSS, JavaScript, PHP, Dojo, Java, ...
    p &darr;
    h4 Blue Spruce / OpenCoweb (2 years)
    small Operational Transformation, H.264, XMPP, STUN, ...
    p &darr;
    h4 IBM Watson (2 years)
    small NLP, ML, UIMA, Prolog, Hadoop, SPSS, IPython, ...
    p &darr;
    h4 Knowledge Anyhow
    small Cloud Foundry, Open Stack, Docker, Ruby, NodeJS, ...

  section
    h2 We are not an exception to any rule.

  section
    h2 Case Study: <a href="https://speakerdeck.com/mikeyk/scaling-instagram">Instagram</a>
    ul
      li Started on one server
      li 25k signups in the first day
      li Make it scale NOW!

  section
    h2 Case Study: <a href="http://royal.pingdom.com/2010/06/18/the-software-behind-facebook/">Facebook</a>
    ul
      li PHP too slow &rarr; HipHop
      li Inbox search must scale &rarr; Cassandra
      li Want to query Hadoop with SQL &rarr; Hive

  section
    h3 Solving these problems requires agility, experience, and  powerful tools.

  section
    h3 We are not short on tools.

  section
    h2 GitHub's Growth
    a(href="https://github.com/blog/1724-10-million-repositories")
      img(src="https://f.cloud.github.com/assets/4483/1803667/b0ed664e-6c24-11e3-9559-e5702215c47a.png", alt="Repositories on GitHub per year")

  section
    h2 We are forever short on time and experience.

  section
    h2 We cannot possibly know it all.

  section
    h3 Instead, I believe we must learn to approach new problems with confidence and master unknown tools quickly.

  section
    h3 To do so, I think we need exposure to and practice in the problems and tools of our craft.

  section
    h2 And that's why we're here.
    h3 In theory. :)
  
  section
    h2 The Plan
    ol
      li Pick a tool / topic of interest each week.
      li Do a bit of prep before we meet.
      li Get together to hack on practice problems.
      li Help one another and share our work.
      li Build our confidence and experience.

  section
    h3 Of course, the best laid plans ...
    h4 This meet-up is an experiment. We'll adjust as needed.

  section
    h2 But let's try it.

  section
    h2 Today
    ul
      li Peruse the <a href="http://tott-meetup.rtfd.org">TotT website</a>.
      li Join the <a href="https://plus.google.com/communities/110370068185265330545">TotT Google+ Community</a>
      li Follow the <a href="http://tott-meetup.readthedocs.org/en/latest/setup.html">Setting Up</a> guide.
      li Work through the <a href="http://tott-meetup.readthedocs.org/en/latest/sessions/vagrant.html">Vagrant and Virtualization</a> exercises.
      li Talk, discuss, post, have fun! 

  section 
    h2 Before we meet again ...
    h4 Review the prep for <a href="http://tott-meetup.readthedocs.org/en/latest/sessions/bash.html">Bash, Screen, Vi, and SSH</a>.

  section
      h2 FIN
      h4 And FWIW, this slide is the last you'll see in our meet-ups.