extends layout
include util

block head
  title Javascript - TotT

block slides

  section(data-narration="/js/0.mp3")
    h1 JavaScript
    h2 TotT: 2014

  section(data-narration="/js/1.mp3")
    h2 JavaScript
    blockquote "JavaScript is a prototype-based scripting language with dynamic typing and first-class functions." <br />- <a href="http://en.wikipedia.org/wiki/JavaScript">Wikipedia</a>

  section(data-narration="/js/2.mp3")
    h2 Major Attributes
    ul
      li C-derived syntax
      li Runtime interpretation
      li Dynamic typing
      li First-class functions
      li Prototypical inheritence
      li Garbage collection
      li Rich literal types

  section(data-narration="/js/3.mp3")
    h2 Use Cases
    ul
      li Embedded scripting
      li Frontend web development
      li Backend web development

  section(data-narration="/js/4.mp3", data-jsbin="/iDEGuji/4/embed?js,console")
    h2 Example: Factorial
    iframe.jsbin-embed

  section(data-narration="/js/5.mp3", data-jsbin="/OYOzuSu/3/embed?js,console")
    h2 Example: Sine/Cosine
    iframe.jsbin-embed

  section(data-narration="/js/6.mp3", data-jsbin="/eKUwUYE/2/embed?js,console")
    h2 Example: Mammals
    iframe.jsbin-embed

  section(data-narration="/js/7.mp3", data-jsbin="/ikIwiji/2/embed?js,console")
    h2 Example: Evens
    iframe.jsbin-embed

  section(data-narration="/js/8.mp3", data-jsbin="/oBeZuMU/2/embed?js,console")
    h2 Example: Timers
    iframe.jsbin-embed

  section(data-narration="/js/9.mp3", data-jsbin="/ASoPEWi/2/embed?js,console")
    h2 Example: Cycle
    iframe.jsbin-embed

  section(data-narration="/js/10.mp3")
    h2 Gotchas
    ul
      li Function scope
      li Automatic semicolons
      li No true methods
      li No import statement
      li No multiline strings
      li Weird operators

  section(data-narration="/js/11.mp3")
    h2 NodeJS
    ul
      li New, circa 2009
      li Run JS server-side
      li Uses Google V8 JS engine
      li Small standard library
      li Event loop, async I/O

  section(data-narration="/js/12.mp3")
    h2 Demo: Working with NodeJS

  section
    h4 Demo: Working with NodeJS
    +screencast("nodejs/nodejs")

  section(data-narration="/js/14.mp3")
    h2 Review
    ul
      li Language Features
      li Syntax
      li Types
      li Prototypes
      li Function Closures, Callbacks, Parameters
      li NodeJS
      li Gotchas

