extends layout
include util

block head
  title JS Ecosystem - TotT

block slides

  section(data-narration="/npm/0.mp3")
    h1 JS Ecosystem
    h2 TotT: 2014

  section(data-narration="/npm/1.mp3")
    h2 JS Server Side (NodeJS)
    ul
      li Has module definitions, imports
      li Has a slim standard library
      li Has encouraged development and sharing of small tools

  section(data-narration="/npm/2.mp3")
    h2 Example: <tt>exports</tt>, <tt>require</tt>
    p In <tt>foo.js</tt>
    pre
      code.
        module.exports.double = function(x) {
          return x * 2;
        };

        var triple = function(x) {
          return x * 3;
        };

    p In <tt>bar.js</tt>
    pre
      code.
        var foo = require('./foo');
        var z = foo.double(5);
        console.log(z);
        var q = foo.triple(5) // ERROR!

  section(data-narration="/npm/3.mp3")
    h2 Node Packaged Modules
    ul
      li A method of distributing NodeJS modules
      li A hosted index of published modules
      li A command line tool for managing modules

  section(data-narration="/npm/4.mp3")
    h2 <tt>npm</tt>
    p Commands to master:
    pre.
      $ npm search
      $ npm install [-g]
      $ npm init

  section(data-narration="/npm/5.mp3")
    h2 Demo: NPM Basics
    p search, install, require

  section
    h4 Demo: NPM Basics
    +screencast("/nodejs/npm")

  section(data-narration="/npm/7.mp3")
    h2 <tt>package.json</tt>
    ul
      li Package metadata
      li States name, author, version, git repo, ...
      li Critically, lists dependencies

  section(data-narration="/npm/8.mp3")
    h2 Example: <tt>package.json</tt>
    pre
      code.
        {
          "name": "totter",
          "version": "0.0.1",
          "description": "Demonstration module for TotT",
          "main": "index.js",
          "scripts": {
            "test": "mocha"
          },
          "repository": {
            "type": "git",
            "url": "git@bitbucket.org:unctott/totter.git"
          },
          "keywords": [
            "teaching",
            "tott",
            "unc"
          ],
          "author": "Peter Parente",
          "license": "BSD",
          "dependencies": {
            "jade": "~0.27.6",
            "markdown": "~0.4.0"
          }
        }

  section(data-narration="/npm/9.mp3")
    h2 Demo: <tt>package.json</tt> Pizzazz
    p npm, package.json, colors

  section
    h4 Demo: <tt>package.json</tt> Pizzazz
    +screencast("/nodejs/colors")

  section(data-narration="/npm/11.mp3")
    h2 JS Client Side (Browsers)
    ul
      li Long ago: Snippets to add a tad of interactivity
      li Then: Libs to hide cross-browser scripting issues
      li Now: Libs to support rich Web app development

  section(data-narration="/npm/12.mp3")
    h2 To Be Continued
    p In sessions about frontend JS

  section(data-narration="/npm/13.mp3")
    h2 Review
    ul
      li NodeJS
      li NodeJS Modules
      li NodeJS Packaged Modules
      li <tt>npm</tt>
      li <tt>package.json</tt>

