extends layout
include util

block head
  title Unix Philosophy - TotT

block slides

  section(data-narration="/unix/0.mp3")
    h1 Unix Philosophy
    h2 TotT: 2014

  section(data-narration="/unix/1.mp3")
    h2 McIlory
    blockquote "This is the Unix philosophy: Write programs that do one thing and do it well. Write programs to work together. Write programs to handle text streams, because that is a universal interface." <br /> - <a href="http://en.wikipedia.org/wiki/Unix_philosophy#McIlroy:_A_Quarter_Century_of_Unix">Douglas McIlroy</a>

  section(data-narration="/unix/2.mp3")
    h2 Gancarz
    blockquote
      ul
        li Small is beautiful.
        li Make each program do one thing well.
        ...
        li Store data in flat text files.
        ...
      p - <a href="http://en.wikipedia.org/wiki/Unix_philosophy#Mike_Gancarz:_The_UNIX_Philosophy">Mike Gancarz</a>

  section(data-narration="/unix/3.mp3")
    h2 Gabriel
    blockquote "<em>worse is better</em> ... simplicity of both the interface and the implementation are more important than any other attributes of the system—including correctness, consistency, and completeness." <br /> - <a href="http://en.wikipedia.org/wiki/Unix_philosophy#Worse_is_better">Wikipedia</a>

  section(data-narration="/unix/4.mp3")
    h2 Many perspectives, one philosophy.

  section(data-narration="/unix/5.mp3")
    h2 KISS

  section(data-narration="/unix/6.mp3")
    h2 Brooks
    ul
      li <em>Accidental complexity</em> stems from problems we create on our own.
      li <em>Essential complexity</em> is inherent in the problem to be solved.
    p - <a href="http://www.cs.unc.edu/techreports/86-020.pdf">Fred Brooks</a>

  section(data-narration="/unix/7.mp3")
    h2 Demo: Small Superlatives
    p echo, cat, tr

    // echo foobar
    // cat /vagrant/Vagrantfile
    // tr "A-Z" "a-z"
    // tr "aeios" "43105"

  section
    h4 Demo: Small Superlatives
    +screencast("/unix/small_super")

  section(data-narration="/unix/9.mp3")
    h2 Demo: Text Everywhere
    p /etc/passwd, /etc/hosts, /etc/rc2.d/*

  section
    h4 Demo: Text Everywhere
    +screencast("/unix/text")

  section(data-narration="/unix/11.mp3")
    h2 Standard Streams
    img(src="http://upload.wikimedia.org/wikipedia/commons/7/70/Stdstreams-notitle.svg", height="400px")

  section(data-narration="/unix/12.mp3")
    h2 Pipes and Redirects
    img(src="http://upload.wikimedia.org/wikipedia/commons/f/f6/Pipeline.svg", height="400px")

  section(data-narration="/unix/13.mp3")
    h2 Demo: Pipes and Redirects
    p &gt;, &lt;, |, sort, uniq, head

    // sudo apt-get install wamerican
    // cat /usr/share/dict/words | wc
    // cat /usr/share/dict/words | sort -r | less
    // cat /usr/share/dict/words | grep ^d
    // cat /usr/share/dict/words | grep ^a | head -n 5 | tr "aeios" "43105"
    // cat /usr/share/dict/words | tr "a" "e" | wc > a2e
    // cat /usr/share/dict/words | tr "i" "e" | wc > i2e
    // cat a2e i2e

  section
    h4 Demo: Pipes and Redirects
    +screencast("/unix/pipes")

  section(data-narration="/unix/15.mp3")
    h2 Review
    ul
      li Unix Philosophy
      li Small Tools
      li Text
      li Standard Streams
      li Pipes and Redirects